select {
    width: 120px;
}

select:required:not(:disabled)+label:after {
    color: red;
    content: '*';
}

select:required:disabled+label:after {
    color: grey;
    content: '*';
}

select:disabled+label {
    color: grey;
}

:invalid {
    background-color: #fce4e4;
    border: 2px solid #cc0033;
    outline: none;
}